In [1]:
import pandas as pd
import numpy as np

In [9]:
# Grouping
df = pd.DataFrame({
    'key1': ['a', 'a', None, 'b', 'b', 'a', None],
    'key2': pd.Series([1, 2, 1, 2, 1, None, 1], dtype='Int64'),
    'data1': np.arange(10, 17),
    'data2': np.arange(20, 27)
})
print(df)

# Mean of data1 of each key1 - split
grouped = df['data1'].groupby(df['key1'])
print(grouped)

# Apply a function to each group
group_mean = grouped.mean()
print(group_mean)

# Use a list of series as the grouping key
list_grouped = df['data1'].groupby([df['key1'], df['key2']])

# Mean of list_grouped
list_mean = list_grouped.mean()
print(list_mean)

   key1  key2  data1  data2
0     a     1     10     20
1     a     2     11     21
2  None     1     12     22
3     b     2     13     23
4     b     1     14     24
5     a  <NA>     15     25
6  None     1     16     26
<pandas.core.groupby.generic.SeriesGroupBy object at 0x7f5ceda01eb0>
key1
a    12.0
b    13.5
Name: data1, dtype: float64
key1  key2
a     1       10.0
      2       11.0
b     1       14.0
      2       13.0
Name: data1, dtype: float64

In [10]:
# Grouping with an array as the key
states = ['OH', 'CA', 'CA', 'OH', 'OH', 'CA', 'OH']
years = [2005, 2005, 2006, 2005, 2006, 2005, 2006]

state_year_grouped = df['data1'].groupby([states, years]).mean()
print(state_year_grouped)

CA  2005    13.0
    2006    12.0
OH  2005    11.5
    2006    15.0
Name: data1, dtype: float64